/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* #### Variable CSS #### */
/* ##################### */
:root{
    --header-height: 3.5rem;
    
    /* COLORS */ 
    --nav-bg-color: #0e0b0b;
    --logotype-txt-color: #FEFBF6;
    --nav-menu-bg-color: #dbb26b;
    --nav-links-txt-color: #FEFBF6;
    --head-txt-color: #9b7841;
    
    --main-bg-color: #f7f0e7;
    --headers-txt-color: #291d10;
    --shadows-color: #1b1812;  
    
    --title-description-bg-color: #a89c59; /*thousend projects done */
    
    --cards-bg-color: #e7d6b6; /* PORTFOLIO */
    --cards-shadow-color: #291d10;   
    --about-bg-color: #e0c288;
    --contact-bg-color: #e7d6b6;;
    --testimonial-bg-color: #e0c288;

    
    --contact-box-bg-color: #098b1f;       
    
    --change-theme-color:  #e6bb76;
    --nav-toggle: #f3f2f0;
    --toggle-close: #229b2c;

    --main-text-color: #e6bb76;         
    --home-social-links: #e8e7f1;   
    
    --subheaders-txt-color: #362828;
    --paragraphs-txt-color: #0e0b0b;    

    --btn-bg-color: #6ebedd;
    --btn-border-color: #386b80;
    --btn-color-hover: #76a2c9;
    --btn-color-active: #CDE8E5;
    --btn-color-focus: #9F70FD;  
    
    --small-dev-home-title-icons-color: #252020;
    --borders-color: #362828;
    --scrollup-color: #f7f0e7;

    /* TYPOGRAPHY && FONT */  
    --head-font: 'Arial Black', sans-serif;  
    --body-font: 'Arial', sans-serif;

    --main-font: 2rem;
    --h1-f-size: 1.5rem;
    --h2-f-size: 1.25rem;
    --h3-f-size: 1rem;
    --normal-f-size: .938rem;
    --small-f-size: .813rem;
    --smaller-f-size: .75rem;
    --icon-size: 1.4rem;
    /* 1rem - 16px */
    
    /* FONT WEIGHT */    
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-heavy: 800;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000; 
}

/* #### Responsive typography #### */
/* ############################## */
@media screen and (min-width: 1150px){
    :root{
    --main-font: 4.5rem;
    --h1-f-size: 2.25rem;
    --h2-f-size: 1.5rem;
    --h3-f-size: 1.25rem;
    --normal-f-size: 1.125rem;
    --small-f-size: .875rem;
    --smaller-f-size: .813rem;
    }
}

  /* ################################ */
 /* ############# BASE ############# */
/* ################################ */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    letter-spacing: .1rem;
    line-height: 175%;     
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    transition: background-color .4s;
}

body,
input,
textarea,
button{
    font-family: var(--body-font);
    font-size: var(--normal-f-size);
}

button,
input,
textarea{
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6{
    color: var(--main-txt-color);
    font-weight: var(--font-weight-bold)
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;    
    height: auto;
}

  /* ################################ */
 /* ############# BASE END  ######## */
/* ################################ */

/* ######## THEME ######## */
.nav__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}
.change-theme{
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--change-theme-color);
    cursor: pointer;
    transition: color .4s;
}

/* ######## Variables dark theme ######## */
body.dark-theme{
    --nav-bg-color: #0e0b0b;
    --logotype-txt-color: #FEFBF6;
    --nav-menu-bg-color: #30230c;
    --nav-links-txt-color: #FEFBF6;
    
    --main-bg-color: #241f1f;
    --headers-txt-color: #fcf6c2;
    --shadows-color: #1b1812;  
    
    --title-description-bg-color: #423a2a; /*thousend projects done */
    
    --cards-bg-color: #302a20; /* PORTFOLIO */
    --cards-shadow-color: #795b3c;   
    --about-bg-color: #3f311a;
    --contact-bg-color: #2e271d;
    --testimonial-bg-color: #302a20;

    
    --contact-box-bg-color: #63ce75;       
    
    --change-theme-color:  #e6bb76;
    --nav-toggle: #FEFBF6;
    --toggle-close: #229b2c;

    --main-text-color: #888479;         
    --home-social-links: #e8e7f1;   
    
    --subheaders-txt-color: #dbbe8b;
    --paragraphs-txt-color: #d4d1c7;    

    --btn-bg-color: #e8e9aa;
    --btn-border-color: #cac032;
    --btn-color-hover: #e7dd47;
    --btn-color-active: #86b89b;
    --btn-color-focus: #b89dee;  
    
    --small-dev-home-title-icons-color: #4497c7;
    --borders-color: #413520;
    --scrollup-color: #f7f0e7;
}

/* #### Reusable css classes #### */
/* ############################# */
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5em;
}

.flex{
    display: flex;
}

.section{
    padding-block: 4rem 1rem;
}

.section__title{
    margin-top: 4rem;
    font-size: var(--h1-f-size);
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.main{
    overflow: hidden;
}

/* ####################### HEADER ####################### */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;    
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
    background-color: var(--nav-bg-color);
    box-shadow: 0px 24px 10px -22px var(--shadows-color);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__container{
    display: flex;
    flex-direction: row;    
    align-items: center;    
}
.nav__company{
    width: 35px;
    margin-right: .5rem;     
}

.nav__logo{
    color: var(--logotype-txt-color);
    font-weight: var(--font-weight-medium);    
    transition: color .4s;
    font-size: 1.3rem;
}

.nav__toggle,
.nav__close{
    font-size: 2rem;
    cursor: pointer;
}

.nav__toggle{
    color: var(--nav-toggle);
    transition: color .4s;
}

.nav__close{
    color: var(--toggle-close);
}

/* Navigations for mobile */
@media screen and (max-width: 1150px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--nav-menu-bg-color);
        width: 100%;
        padding-block: 5rem;
        box-shadow: 0px 18px 28px -24px var(--shadows-color);
        transition: top .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}

.nav__link{
    color: var(--nav-links-txt-color);
    font-weight: var(--font-weight-medium);
    transition: color .4s;
    text-transform: uppercase;
}

.nav__link:hover{
    color: var(--btn-color-hover);
}

.nav__close{
    position: absolute;
    top: 1.5rem;
    right: 1.75rem;
    font-size: 1.5rem;    
}

/* Show menu */
.show-menu{
    top: 0;
}

/* @@@ BUTTON STYLE @@@ */
.button{
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    background-color: var(--btn-bg-color);
    color: #0e0b0b;
    font-weight: var(--font-weight-regular);
    padding: .5rem 1rem;
    border-radius: 8px 4px; 
    border: 1px solid var(--btn-border-color); 
    text-transform: uppercase;  
    transition: transform .4s, background-color .4s, box-shadow .4s, transform .4s;
}
.button:hover{
    background-color: var(--btn-color-hover);
    color: #386b80;
    transform: translateY(.1rem);
    box-shadow: 0px 8px 12px -6px var(--shadows-color);
}
.button:active{
    transform: scale(.92);
}
/* HOME */
.home{
    position: relative;
    background-color: var(--main-bg-color);        
}

.home__img{    
    width: 100%;    
    height: 90vh;
    object-fit: cover;
    object-position: center;
    display: block;     
    box-shadow: 0px 18px 28px -24px var(--shadows-color);        
}

.home__container{
    padding-block: 4rem;      
    position: absolute;        
}

.home__data{
    row-gap: .75rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;                           
}

.home__title{
    font-family: var(--head-font);
    font-size: var(--h1-f-size);
    padding-bottom: 2.5rem;  
    text-transform: uppercase;      
}
.home__title2{
    font-family: var(--head-font);
    font-size: 2.1rem;
    text-transform: uppercase;
}
.home__title,
.home__title2{    
    font-weight: var(--font-weight-regular);
    text-align: end;
    padding-right: 2rem;
    color: var(--head-txt-color);
}

.home__social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;       
}

.home__button{
    margin-top: 2rem;
    justify-self: flex-end;        
}

.home__social-link{
    font-size: 1.25rem;
    color: var(--home-social-links);    
    scale: 2;
    transition: .8s;
}

.home__social-link:hover{
    transition: all .4s;
    scale: 1.5;    
    color: var(--btn-color-hover);
}
.home__page-button{
    justify-self: center;
    margin-top: 1rem;
    padding: .9rem;
}

/* PORTFOLIO */
.swiper-button-prev, .swiper-button-next{
    color: wheat;  
    background-color: #000;               
    opacity: .6;     
    transition: opacity .4s, color .4s, background-color .4s;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    opacity: 1;
    background-color: wheat;
    color: #000;
}
.swiper-button-prev:active, .swiper-button-next:active{
    color: #fff;   
    background-color: sandybrown;
}
.portfolio__container{              
    padding-bottom: 2.5rem;
    position: relative; 
}
.portfolio__title{  
    font-size: var(--h1-f-size);
    text-align: center;
    margin-bottom: 4rem;
    text-transform: uppercase;  
    font-weight: var(--font-weight-bold);
    color: var(--headers-txt-color);    
    font-size: var(--h1-f-size);    
    padding: 2rem;     
    line-height: 2;   
}
.title__container{
    display: flex;
    column-gap: 2.4rem;
    justify-content: center;  
    align-items: center; 
    margin-bottom: 6rem; 
}
.title__description{ 
    text-transform: uppercase;   
    color: var(--paragraphs-txt-color);
    background-color: var(--title-description-bg-color);
    padding: 4rem;         
    font-weight: var(--font-weight-bold);
    font-size: var(--h3-f-size);
}
.title__item2 .big__year{
    font-weight: var(--font-head-tag);
}
.portfolio__cards{
    row-gap: 2rem;
}
.portfolio__card{    
    background-color: var(--cards-bg-color);
    padding: 4rem 2rem;
    box-shadow: 0px 18px 28px -24px var(--shadows-color);
    text-align: center;    
    transition: background-color .4s;
    margin-bottom: 4rem;    
}
.card__img{  
    box-shadow: 6px 6px 0px 0px var(--cards-shadow-color);    
}
.card__title{    
    color: var(--subheaders-txt-color);
    font-size: var(--h2-f-size);
    padding: 3.5rem .5rem .1rem .5rem;
    text-transform: uppercase;
}
.card__description{    
    color: var(--paragraphs-txt-color);
    line-height: 2;
    max-width: 90%;
    margin: auto;
    padding: 3rem;       
}
.portfolio__modal{  
    display: none; /* Initially hide modals */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);   
    overflow: auto;      
}
.portfolio__modal-content {
    width: 60vw;                          
    overflow: hidden;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.modal__title{
    text-transform: uppercase;
    padding: .6rem 1.2rem;
    background: var(--main-bg-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-f-size) !important;    
}
.modal__description{
    background: var(--main-bg-color);
    padding: .6rem 1.2rem; 
    font-size: var(--h2-f-size) !important;  
}
.modal__button-container{
    margin-inline: auto;
    padding-top: 1rem;
    display: flex;
    gap: .6rem;     
} 
.modal__button-container > :nth-child(3){
    margin-left: 2rem;
}
/* Active portfolio modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}
/* ABOUT US */
.main__about{       
    box-shadow: 0px 18px 28px -24px var(--shadows-color);
    background-color: var(--about-bg-color);
}
.main__about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__about-box{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}
.main__about-circle{    
    width: 350px;
    height: 350px;    
    border: solid 3px var(--borders-color);
    border-radius: 50%; 
    position: relative; 
    overflow: hidden; 
    margin-top: 4rem;
    margin-bottom: 6rem;            
}
.main__about-img{    
    max-width: 100%; 
    position: absolute;   
    top: -3.5rem;           
}
.main__about-information-content{
    border-top: 3px solid var(--borders-color);   
    padding-top: 2rem;      
    line-height: 2;  
    max-width: 80%;       
}
.main__about-information-content p {
    margin-bottom: 4rem;
    color: var(--paragraphs-txt-color); 
}
.main__about-information{
    font-size: var(--h2-f-size);
    text-align: center;    
    margin-top: 2rem;    
}
.main__title{
    font-weight: var(--font-weight-bold);
    color: var(--headers-txt-color);    
    font-size: var(--h1-f-size); 
    line-height: 2;   
    padding: 2rem; 
    margin-top: 2rem;           
    margin-bottom: 3rem;
    max-width: 90%;
}
.main__about-button{
    background-color: var(--btn-bg-color);  
    margin-bottom: 3rem;  
}
/* ABOUT PAGE */
.about{
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.about__title{
    color: var(--headers-txt-color);
    padding: 2rem;
}    
.about__profil{
    width: 420px;
    height: 420px;
    justify-self: center;
}
.profil__img{
    max-width: 100%;
}
.about__content{
    text-align: center;
    margin: 5rem 4rem 3rem 4rem;
}
.about__info{
    line-height: 2.4rem;
}
.about__profession{
    margin-top: 1rem;
    color: var(--subheaders-txt-color);
}
.about__description{
    font-size: var(--h2-f-size);
    margin: auto;
    max-width: 60%;
    padding-top: 6rem;
    text-align: justify;
    line-height: 2;
    color: var(--paragraphs-txt-color);
}
.about__buttons{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
}
/* CONTACT */
.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--contact-bg-color);
    box-shadow: 0px 18px 28px -24px var(--shadows-color);
}
.contact__title{
    font-weight: var(--font-weight-bold);
    color: var(--headers-txt-color);    
    font-size: var(--h1-f-size);    
    padding: 2rem;            
    margin-bottom: 3rem;  
    line-height: 2;  
} 
.contact__information-box{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    gap: 1rem;         
    text-align: center;               
    line-height: 2; 
}
.contact__information-box p {
    margin-bottom: 4rem;
}

.contact__description{
    text-align: center;
    font-size: var(--h2-f-size);
    color: var(--paragraphs-txt-color);
    max-width: 90%;
    margin: auto;
}
.contact__button{    
    align-self: center;       
    margin-bottom: 3rem;
}
/* CONTACT PAGE*/
.contact__page-title{
    padding: 3rem 2rem .5rem 2rem;
    color: var(--headers-txt-color);
}
.contact__page{    
    box-shadow: 0px 18px 28px -24px var(--shadows-color);
    background-color: var(--contact-bg-color);
    width: 95%;
    padding: 2rem;
    margin: auto;
}
.contact__form{
    position: relative;    
}
.contact__box{
    position: relative;
    width: 100%;
    height: 62px;          
}
.contact__input{
    width: 100%;
    height: 100%;
    background-color: var(--contact-bg-color);
    border: 2px solid var(--borders-color);
    padding: .5rem 1.5rem;
    color: var(--title-text-color);
    font-weight: var(--font-weight-medium);
    transition: border-color .4s, background-color .4s;
}
.contact__input:focus{
    border-color: var(--btn-color-focus);
}
.contact__input:-webkit-autofill{
    transition: background-color 6000s, color 6000s;    
}
.contact__label{
    font-weight: var(--font-weight-medium);
    font-size: var(--h3-f-size);
    color: var(--paragraphs-txt-color);
    background-color: var(--contact-bg-color);
    position: absolute;
    top: -20px;
    left: 22px;
    padding: 4px;  
    transition: background-color .4s;  
}
.contact__area{
    height: 16rem;
}
.contact__area textarea{
    resize: none;
    padding-top: 1.4rem;
}
.contact__send{
    justify-self: center;
    padding-block: 1rem;
}
.contact__message{
    font-size: var(--small-f-size);
    font-weight: var(--font-weight-medium);
    color: var(--headers-txt-color);    
}
.contact__page-office{
    color: var(--headers-txt-color);
}
.contact__page-map{
    text-align: center;
}
iframe{
    margin: auto;
    width: 95%;
    height: 650px;    
}
.contact__page-hours{
    line-height: 2;
    font-size: var(--h2-f-size);
    font-weight: var(--font-weight-medium);
    background-color: var(--contact-bg-color);
    color: var(--paragraphs-txt-color);
    padding: 4rem;
    box-shadow: 0px 18px 28px -24px var(--shadows-color);
}
.navigation__button{
    justify-self: center;
    padding: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* TESTIMONIAL */
.testimonial__title{
    font-weight: var(--font-weight-bold);
    color: var(--headers-txt-color);    
    font-size: var(--h1-f-size);    
    padding: 2rem;       
    margin-bottom: 3rem;    
}
.testimonial__container{
    position: relative;
}
.testimonial__swiper{
    padding-bottom: 2rem;
}
.testimonial__card{
    background-color: var(--testimonial-bg-color);
    padding: 2rem 1.25rem 2.5rem 1.25rem;
    border-inline: 4px solid var(--borders-color);
    box-shadow: 0px 18px 28px -24px var(--shadows-color);
    text-align: center;
    transition: background-color .4s;
    cursor: grab;
}
.testimonial__border{
    width: 150px;
    height: 150px;
    border: 6px solid var(--borders-color);
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem; 
}
.testimonial__img{
    max-width: 100%;
    filter: blur(8px);
    transition: filter .4s;
}
.testimonial__names{
    font-size: var(--h2-f-size);
    color: var(--paragraphs-txt-color);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.testimonial__description{
    color: var(--paragraphs-txt-color);
    line-height: 2;    
}
.testimonial__card:hover .testimonial__img{
    filter: none;
}
/* SWIPER CLASS */
.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -.5rem;  
    scale: 1.9;         
}
.swiper-pagination-bullet{
    background-color: var(--borders-color);
    opacity: 1;        
}
.swiper-pagination-bullet-active{
    background-color: var(--paragraphs-txt-color);
}

/* GALLERY / PORTFOLIO */
.gallery__title{
    font-weight: var(--font-weight-bold);
    color: var(--headers-txt-color);    
    font-size: var(--h1-f-size);    
    padding: 2rem;    
}
.gallery__button-container{
    justify-content: center;
    align-content: center;
    column-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;    
}
.gallery__box{    
    grid-template-columns: repeat(3, 31.5%);   
    margin-inline: 2rem; 
    transition: all .4s;   
}
.column{
    display: none;
}
.gallery__column:after{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    flex: row wrap;
}
.content{
    transition: all .4s;
}
.content:hover{    
    scale: 1.02;       
}
.zoomable {
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.45s;
    opacity: 0;    
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
} 
.fade-in {
    animation: fadeIn .7s ease-in-out;
    opacity: 1;
}
.zoomable:hover {        
    opacity: 0.8;
}
/* The Modal (background) */
.modal-gallery {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal__gallery-content {
    margin: auto;
    display: block;
    width: 80vw;    
    object-fit: cover;
}

/* Caption of Modal Image */
/* .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;    
    height: auto;
    position: relative;
    top: -50px;
    font-size: var(--h2-f-size);
    z-index: 4;
} */

/* Add Animation - Zoom in the Modal */
.modal__gallery-content {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close-modal {
    position: absolute;
    top: 6.4rem;
    right: 2rem;
    color: var(--toggle-close);
    font-size: 56px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}

.close-modal:hover,
.close-modal:focus {
    color: var(--btn-color-hover);
    text-decoration: none;
    cursor: pointer;
}

/* Filter elements */
.show {
    display: block;
  }
.filter-button{
    transition: .3s all;
}
.filter-button:hover{
    background-color: var(--btn-color-hover);
}
.filter-button.active{
    background-color: var(--btn-color-active);
    color: var(--subheaders-txt-color);
}

/* FOOTER */
.footer{
    margin-top: 4rem;
    background-color: var(--nav-bg-color);
}
.footer__container{
    padding-block: 4rem 2rem;
    text-align: center;
    row-gap: 4rem;
}
.footer__content{
    row-gap: 2rem;
}
.footer__content a,
.footer__copy{
    color: var(--nav-links-txt-color);
}
.footer__logo-box{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.footer__logo{
    margin-bottom: 1.6rem;
    width: 75px;
}
.footer__company-name{
    font-size: var(--h1-f-size);
    font-weight: var(--font-weight-medium);
}
.footer__links,
.footer__social{
    display: flex;
    justify-content: center;
        
}
.footer__links{
    flex-wrap: wrap;
    gap: 2rem;    
}
.footer__link{
    transition: all .4s;
}
.footer__link:hover{    
    border: solid 1px var(--btn-color-hover);
    padding: .4rem;
    border-radius: .7rem;
}
.footer__social{
    column-gap: 1.4rem;
}
.footer__social-link{
    font-size: var(--h1-f-size);
    transition: transform .4s, color .4s;
}
.footer__social-link:hover{
    transform:translateY(.3rem);
    color: var(--btn-color-hover);
}
.footer__copy{
    padding-top: 2rem;
    font-size: var(--smaller-f-size);
}
/* SCROLL UP */
.scrollup{
    position: fixed;
    right: 2rem;
    bottom: -50%;
    background-color: var(--scrollup-color);
    font-size: 1.6rem;
    color: var(--subheaders-txt-color);    
    padding: .3rem .4rem;
    border-radius: .4rem;  
    display: inline-flex;      
    filter: drop-shadow(0 2px 2px var(--shadows-color));  
    transition: all .4s;  
    z-index: var(--z-fixed);    
}
.scrollup:hover{
    transform: translateY(.1rem);
    filter: drop-shadow(0 1px 1px var(--shadows-color));
}
/* SHOW SCROLL UP */
.show-scroll{
    bottom: 2rem;
}

/* BREAKPOINTS oh__yeah, finally*/

/* -- SMALL DEVICES -- */
@media screen and (max-width: 576px) {
    .section{
        padding-block: 1rem .5rem;
    }
    .change-theme, .nav-toggle {
        font-size: 1.4rem;
    }
    .menu__toggle {
        font-size: 1.6rem;
    }
    .nav__company {
        width: 1.6rem;
    }
    .nav__logo {
        display: none;
    }
    .home{
        padding-top: 4rem;
    }
    .home__img {        
        margin-bottom: .5rem;         
        height: auto;       
    }
    .home__container { 
        position: static;         
        justify-content: center;                                                                          
    }
    .home__content {  
        display: flex;
        flex-direction: column;        
        align-items: center;
        width: 280px;        
    }
    .home__data {        
        display: block;     
    }  
    .home__title-container {        
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center; 
        margin-bottom: 3rem;       
    }     
    .home__title, .home__title2 {
        font-size: 1.2rem;           
        padding: 0; 
        margin-bottom: 2rem;
        text-align: center;                                   
    }
    .home__social {          
        margin: 2rem;      
        flex-direction: row;                       
        gap: 3rem;                            
    }
    .home__social-link {
        color: var(--small-dev-home-title-icons-color);
    } 
    .portfolio__title {
        font-size: var(--h2-f-size);
        font-weight: var(--font-weight-bold);
    } 
    .title__container {
        display: flex;
        flex-flow: column wrap;
        gap: 2rem;
    }
    .title__description { 
        text-align: center; 
        font-size: var(--h3-f-size);      
    }
    .portfolio__cards {
        display: block;
    }       
    .card__title {
        margin-bottom: 2rem; 
        padding: 0;  
        padding-top: 3rem;
        padding-bottom: 1rem;  
        font-weight: var(--font-weight-regular);   
    }
    .card__description {
        display: none;        
    }      
    .img__modal-container{ 
        max-width: 520px;        
        margin-top: 2rem;
    }    
    .modal__title{
        font-size: .925rem;
    }
    .modal__description{
        font-size: .625rem;        
    }
    .modal__button-container{
        flex-direction: row;
    } 
    .modal__button-contact, 
    .modal__button-gallery,
    .button__portfolio-back{
        font-size: .525rem; 
    }   
    .main__title {
        font-size: var(--h2-f-size); 
        margin-bottom: 0;               
    }
    .main__about-box {
        display: flex;
        flex-direction: column;
    }
    .main__about-circle {
        width: 200px;
        height: 200px;
        position: relative;    
        margin-bottom: 3rem;    
    } 
    .main__about-img {
        margin-top: 1.5rem;              
    }  
    .main__about-information-content {
        border-left: none;
        border-top: 2px solid var(--borders-color);
        text-align: center;
        width: 90%;
        padding-top: 1rem;
    }
    .main__about-information {
        font-size: var(--h3-f-size);
        font-weight: var(--font-weight-medium);
    }     
    .contact__container {
        display: block;
    }    
    .contact__information, .contact__description {
        font-size: var(--h2-f-size);
    }
    .contact__information-box {        
        align-items: center;       
        padding: 2rem;
    }
    .contact__information {
        font-weight: var(--font-weight-medium);        
    }
    .contact__description {
        font-weight: var(--font-weight-regular);
        margin-bottom: 1.5rem;
    }    
    .contact__title {     
        margin-top: 2rem;   
        font-size: var(--h2-f-size);
        font-weight: var(--font-weight-bold); 
        text-align: center;       
    }
    .testimonial__title {
        font-size: var(--h2-f-size);
        font-weight: var(--font-weight-bold);
    }      
    .img__modal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        padding: 2rem;
    }        
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        top: 0;        
        height: 5px; 
        background-color: var(--btn-color-focus);                                  
    }
    .swiper-scrollbar-drag {
        background: var(--btn-color-hover);        
    } 
    
    .about {
        flex-direction: unset;
    } 
    .about__info {
        padding: 1rem;               
    }
    .about__description{
        text-align: center;
        max-width: 100%;
    }
    .about__buttons {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    } 
    .contact__label {
        font-size: .58rem;
        left: .7rem;
    } 
    .gallery__button-container{
        flex-direction: column;
        gap: 1.2rem;        
    } 
    .gallery__box{
        grid-template-columns: 100%;              
    }      
    .modal__gallery-content{
        padding-top: 8rem;
        width: 100vw;
    }        
    .portfolio__modal-content{
        width: 95vw;
    }  
}

/* MEDIUM DEVICES */
@media (min-width: 576px) and (max-width: 1149px) {
    .home__img {  
        height: 75vh;      
        margin-bottom: .5rem;
    }
    .home__container { 
        position: static;         
        justify-content: center;                                                                          
    }
    .home__content {  
        display: flex;
        flex-direction: column;        
        align-items: center;                
    }
    .home__data {        
        display: block;     
    }  
    .home__title-container {        
        width: 100%;
        display: flex;
        flex-direction: column;   
    }     
    .home__title, .home__title2 {
        font-size: var(--h1-f-size);       
        color: var(--small-dev-home-title-icons-color);
        font-weight: var(--font-weight-medium);  
        text-align: center;  
        padding: 1rem;                   
    }
    .home__social {          
        margin: 2rem;      
        flex-flow: row wrap;                       
        gap: 3rem;                            
    }
    .home__social-link {
        color: var(--small-dev-home-title-icons-color);
        font-size: calc(var(--h2-f-size) + .3rem);  
    }     
    .main__about-box {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        padding: 2rem;
    }
    .main__about-information-content {
        border-left: none;        
        border-top: 2px solid var(--borders-color);        
        padding: 2rem 1rem 1rem 1rem;               
    }
    .main__about-information {
        margin: 0;
    }     
    .contact__information-box {
        padding: 2rem;
    }    
    .img__modal-container {
        max-width: 700px;
        padding: 2rem;
    }       
}

/* LARGE DEVICES */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }
    .section {        
        padding-block: 6rem 2rem;
    }
    .section__title {
        margin-bottom: 3.5rem;
    }
    .nav {
        height: calc(var(--header-height) + 1rem);
        column-gap: 4rem;
        max-width: 2048px;
        margin: 0 2rem;                
    }    
    .nav__toggle, .nav__close {
        display: none;
    }
    .nav__menu {
        margin-left: auto;
    }
    .nav__list {
        flex-direction: row;
        align-items: center;
        column-gap: 3.5rem;
    }
    .nav__company, .nav__logo {
        margin-right: 1rem;  
        width: 2.5rem;      
    }
    .nav__logo {
        font-size: 1.5rem;
    }
    .home__container {
        right: 5rem;
        bottom: 3rem;
    }
    .portfolio__cards {
        grid-template-columns: repeat(2, 545px);
    }                      
}
@media screen and (min-width: 1024px) {    
    .img__modal-container{                 
        max-width: 65vw;             
    }
    .modal__img{                               
        max-width: 100%;             
    } 
    .modal__title{
        font-size: 1rem;
    }
    .modal__description{
        font-size: .8rem;
    }    
    .modal__button-contact, 
    .modal__button-gallery,
    .button__portfolio-back{
        font-weight: normal;
        font-size: 1.6rem;
        padding: .5rem .9rem;
    } 
    .modal__gallery-content{   
        padding: 0;           
    }    
}

/* 2K+ BIG DEVICES (2048x1152px & 2038x1536) */
@media screen and (min-width: 2048px) {
    .container {
        max-width: 1920px;
        margin-inline: auto;
    }                 
    .portfolio__cards {
        grid-template-columns: repeat(2, 756px);
    } 
    .portfolio,
    .main__about,
    .contact__high-res,
    .testimonial__container {
        max-width: 1540px;
        margin: auto;      
    }
    .img__modal-container {
        max-width: 1920px;        
    }
    .gallery__box{
        grid-template-columns: repeat(2, 800px);         
        justify-content: center;                    
    } 
    .modal__gallery-content{
        padding-top: 0;
        width: 64vw;
    }
    .title__container{
        gap: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
}


